<div style="max-width: 500px; background-color: rgba(178,18,113,0.08); padding: 50px">
  <h1>New Tred</h1>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #f="ngForm"  fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <input name="author"  matInput ngModel/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <input name="message" required matInput ngModel/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input ngModel name="image"></app-file-input>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid"
          >Create</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
