<div style="padding: 50px; background-color: rgba(43,178,166,0.08)">
  <h1 style="font-weight: bold; text-align: center">Anonymous Imageboards</h1>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let tred of treds"
    >
      <mat-card style="background-color: #ccc">
        <mat-card-header>
          <mat-card-title style="font-style: italic">-{{ tred.author | author }}</mat-card-title>
        </mat-card-header>
        <img *ngIf="tred.image"
             [src]="tred.image | image"
             [alt]="'Photo of ' + tred.author"
             mat-card-image
        />
        <mat-card-content style="background-color: black; padding: 10px">
          <p style="font-weight: bolder; letter-spacing: 2px; text-align: center">{{ tred.message.toUpperCase() }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
